body  {
     color:#333;
    font-family: 'Lato', sans-serif;
    ;
    margin: 0;
    font-size: 0.8em
}
img{
    border-radius: 25px;
}


.subtext{
    color:#000080
}

#cc{
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    padding:15px;
    font-size: 0.9em

}

.pala{
    color:#FFFACD;
    background-color:rgb(0, 0, 0);
    padding:15px;
    font-size: 0.9em
}

h1,h2{
    text-transform: uppercase;
}

#main1{
    height:100vh;
    background-color:#FFFACD;
    text-align: center;
    font-size:1.8em;
    padding-top:10%
}
#main2{
    height:100vh;
    background-color:rgb(255, 255, 255);
    text-align: center;
    font-size: 1.4em;
    padding-top: 12%;
}
#main3{
    background-color:black;
    text-align: center;
    font-size: 1.4em;
    color:white;
    padding-top: 12%;
    padding-bottom: 12%;
}
#main3 ul{
    padding:0;
    margin:0;
}

#main3 li{
    display:inline
}

ol{
    list-style-position: inside;
}
ul{
    list-style-position: inside;
}
a:hover {
    font-size: 1.3em;
    -webkit-transition: font-size 2s; /* Safari */
  transition: font-size 2s;
}
#mama{
    color:rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    padding:15px;
    font-size: 0.9em
}